
<div id="container-questionnaire">
    <h1>Pre-Study Survey</h1>
    <hr>
    
    <p> Before proceeding, please indicate any superficial (i.e. unconsidered) preferences have for the boxes below. Please don't spend more than a moment looking at each. </p>

    <div class="instructions well">
        <form id="postquiz" action="debrief" method="post">
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">

                </div>
                <br/>

                <table>
                <tr>
                <td>
                <img src="/static/images/boxA.jpg">
                </td>
                <td>
                <input type="radio" name="boxA" value="1" > I really dislike it <br>
                <input type="radio" name="boxA" value="2" > I dislike it        <br>
                <input type="radio" name="boxA" value="3" > I'm indifferent     <br>
                <input type="radio" name="boxA" value="4" > I like it           <br>
                <input type="radio" name="boxA" value="5" > I really like it    <br>
                </td>
                </tr>
                </table>
                <br>

                <table>
                <tr>
                <td>
                <img src="/static/images/boxB.jpg">
                </td>
                <td>
                <input type="radio" name="boxB" value="1" > I really dislike it <br>
                <input type="radio" name="boxB" value="2" > I dislike it        <br>
                <input type="radio" name="boxB" value="3" > I'm indifferent     <br>
                <input type="radio" name="boxB" value="4" > I like it           <br>
                <input type="radio" name="boxB" value="5" > I really like it    <br>
                </td>
                </tr>
                </table>
                <br>

                <table>
                <tr>
                <td>
                <img src="/static/images/boxC.jpg">
                </td>
                <td>
                <input type="radio" name="boxC" value="1" > I really dislike it <br>
                <input type="radio" name="boxC" value="2" > I dislike it        <br>
                <input type="radio" name="boxC" value="3" > I'm indifferent     <br>
                <input type="radio" name="boxC" value="4" > I like it           <br>
                <input type="radio" name="boxC" value="5" > I really like it    <br>
                </td>
                </tr>
                </table>
                <br>

                <table>
                <tr>
                <td>
                <img src="/static/images/boxD.jpg">
                </td>
                <td>
                <input type="radio" name="boxD" value="1" > I really dislike it <br>
                <input type="radio" name="boxD" value="2" > I dislike it        <br>
                <input type="radio" name="boxD" value="3" > I'm indifferent     <br>
                <input type="radio" name="boxD" value="4" > I like it           <br>
                <input type="radio" name="boxD" value="5" > I really like it    <br>
                </td>
                </tr>
                </table>
                <br>

                <br/>

                <!-- <input name="trackerField" type="text" size="10" id="responseDsc" style="display:none"/> -->
            </div>
            <!-- end of a question -->
        </form>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="submit" value="submit" class="btn btn-primary btn-lg continue">
                    Submit Response <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"> currentview = new box_survey_1() </script>