<div id="container-instructions">

    <h1> Experiment Description </h1>
	<hr>

   	<div class="instructions well">
        <p>
            This experiment consists of a series of trials. In each trial, you get to choose between two images. When you've chosen an image, it will remain on the screen for a moment to indicate your choice. You will then be presented with two boxes, each containing one of the previous two objects. You get to open one of the boxes to see its content. You will have 1.5 seconds to make your choice, which will then remain on the screen for a moment before opening and showing its contents. Shortly thereafter the next trial will begin.
        <p>
            Throughout the experiment, use the 'F' key to choose items on the left, and the 'J' key to choose items on the right. You will have a chance to practice this with instructions on the screen, but in the real experiment, the instructions won't be visible.
        </p>
        <p>
            Finally, you may recieve a monetary reward for your performance on this task.
        </p>
        <p>
            Click the "Play Example Trial" button when you are comfortable with the explanation above.
        </p>
        <p>
            <b>Important!</b> Please disable any pop-up blocking plugins or software your browser is running for this experiment!
        </p>

	   <!--  <script type="text/javascript">
	       //console.log(psiTurk.getInstructionIndicator())
	    </script> -->
	</div>

	<hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Play Example Trial <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
