<div id="container-instructions">

    <h1> Experiment Description </h1>
	<hr>

   	<div class="instructions well">
        <p>
            This experiment consists of a series of trials. In each trial, you'll first see a plus sign (+) and then choose an item. The plus only exists to serve as a visual aid for the location of the choices you'll be presented. When you've chosen an item will remain on the screen for a moment and then you will be presented with two boxes. You will have 1.5 seconds to choose one of the boxes, which will then remain on the screen for a moment before showing its contents. Shortly thereafter the next trial will begin.
        <p>
            Throughout the experiment, the 'F' key will choose items on the left, and the 'J' key will choose items on the right. Please note that a demonstration containing textual instructions reiterating those above, which closely resembles the real experiment, will follow this page, but that the real experiment will not have this text.
        </p>
        <p>
            Click the "Play Example Trial" button when you are comfortable with the explanation above.
        </p>
        <p>
            <b>Important!</b> Please disable any pop-up blocking plugins or software your browser is running for this experiment!
        </p>

	   <!--  <script type="text/javascript">
	       //console.log(psiTurk.getInstructionIndicator())
	    </script> -->
	</div>

	<hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Play Example Trial <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
