<div id="container-instructions">

    <!-- <div id="example" class="example"> -->
    <h1>Example Diagrams</h1>
    
    <!-- <h1>Instructions</h1> -->
    <!-- <hr> -->
    <script src="/static/js/instruct.js" type="text/javascript"> </script>

    <div class="instructions well">

        <p>
            Below you see an example culture, represented as a box. There will be 40 such cultures displayed in each diagram. When you press the button labeled "Luminesce" the culture will luminesce briefly.
        </p>
        <p>
            To the right of the culture is a circular indicator that indicates when radiation is applied. When you press the button labeled "Irradiate Me!," it will send out radiation. Please note <b> this particular blue radiation has no effect</b> while radiation <b>during</b> the experiment <b>may or may not</b> alter the rate of luminescence. Note also that in the experiment, the scientists will control when irratiation occurs, so there will be no "Irradiate Me!" button.
        </p>

        <table align="center">
            <tr>
                <td><img id="exbact" src="/static/images/normal.jpg" alt="Culture"/></td>
                <td><img id="exInd" src="/static/images/indOff.jpg" alt="Indicator"/></td>
            </tr>
            <tr><td><input type="button" onClick="exPlay1()" value="Luminesce" /></td>
                <td><input type="button" onClick="exPlay2()" value="Irradiate Me!" /></td>
            </tr>
        </table>
        <p>
            When you feel you understand the diagrams, click "See a Rating Form Example."
        </p>
        <br/>
        
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Back to the Description
                </button>
        </div>
        <div class="col-xs-8">
           <center>
               <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
                   See a Rating Form Example <span class="glyphicon glyphicon-arrow-right"></span>
               </button>
           </center>
       </div>
       <div class="col-xs-2">

       </div>
   </div>
</div>

</div>
