<div id="container-instructions">

    <h1> Experiment Description </h1>
	<hr>

	<div class="instructions well">
        <p>
            A biotech lab is investigating the effects of a radiation treatment on bioluminescence in bacterial cultures. The cultures emit light without any radiation, but the scientists think that different kinds of radiation may affect the rate of bioluminesce. Some types of radiation may promote luminescence and other types may discourage it, while some may have no effect at all.
        </p>
        <p>
            To study the effects of different types of radiation, 40 cultures of the bacteria are prepared, and observed for 60 seconds, during which they are treated with radiation at different times as determined by the scientists. Because the bacteria light up naturally, the scientists also observe another 40 bacteria cultures that were not exposed to radiation. This way data from the treated bacteria and untreated bacteria may be compared to see what effect, if any, the radiation treatment had.
        </p>
        <p>
            Your job will be to examine this data and make a determination about whether the radiation increases the rate of bioluminescence, decreases the rate of bioluminescence or does not affect the rate of bioluminescence. To help you do this the scientists have created visualizations of their experiments. Each of the cultures will be represented by a box. The luminescence of any given bacterial culture will be indicated by a short yellow flash. The scientists only irradiate the bacteria at particular times, and when the scientists expose the bacteria to radiation there will be a short flash in the radiation circle. You will see an example of both a bacteria lighting up and a radiation exposure on the next page. 
        </p>
        <p>
            Because there are two groups of 40 cultures, you will observe two visualizations each of which last 60 seconds long. One visualization represents the results from the group that never receives any exposure to radiation. The other visualization will represent the bioluminescence activity from bacteria that are exposed to the radiation at the relevant predisgnated times. An alert will pop-up before the experiments begin that will let you know whether or not the next group of bacteria will be exposed to radiation.
        </p>
        <p>
            You will view the data from five days of observation for each group over 60 seconds, then rate the effect of the treatment on the species by reporting how confident you feel the treatment causes luminescence, how confident you feel it prevents it, and how confident you feel there is no effect. Each rating will be on a scale from 0 to 100. A rating of zero indicates <i>no confidence</i> and a rating of one hundred indicates <i> total confidence </i>. If your judgement is between these extreme values, please use intermediate numbers.
        </p>
        <p>
            <b>An Important Note!</b> Please disable any pop-up blocking plugins or software your browser is running for this experiment!
        </p>
        <!-- Mike: I'm guessing you're going to take care of the above rating description when you fix the introduction to the simplex type rating scheme. -->
        <!-- Dan: Noted (while xfering to psiturk) -->

        <p> 
            Click the "See Example Diagrams" button when you are comfortable with the explanation above. You will have the option of returning to reread it if you wish.
        </p>
    
        <!-- <input type="button" onClick="goTo('desc','example')" value="See Example Diagrams"/> -->
	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                See Example Diagrams <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
