<div id="container-instructions">

    <h1> Experiment Description </h1>
	<hr>

   	<div class="instructions well">
            <h3> The Experiment </h3>
        <p>
            This experiment consists of a series of trials. In each trial, you get to choose between two images. When you've chosen an image, it will remain on the screen for a moment to indicate your choice. You will then be presented with two boxes, each containing one of the previous two objects. You get to open one of the boxes to see its content. You will have 1.5 seconds to make your choice, which will then remain on the screen for a moment before opening and showing its contents. Shortly thereafter the next trial will begin.
        </p>
        <p>
            During some trials you will be presented initially with a zero and a one, representing points. In these cases you have the opportunity to accrue points (which will be used as part of the bonus computation) by correctly choosing the box which yields a one in the following step.
        </p>
        <p>
            Throughout the experiment, use the 'f' key to choose items on the left, and the 'j' key to choose items on the right. You will have a chance to practice this with instructions on the screen, but in the real experiment, the instructions won't be visible.
        </p>
        <p>
            Finally, you may receive a monetary reward for your performance on this task.
        </p>
            <h3> The Example </h3>
        <p>
            The Example Trial you will be taken to next will behave (interactively) exactly like the experimental task, but it is not the actual task. Instead, it is meant to illustrate the mechanics of this task, and upon completing a few trials by being presented with options and responding, you will be shown a page re-capping and allowing you to move on to the actual experiment.
        </p>
        <p>
            Click the "Play Example Trial" button when you are comfortable with the explanation above.
        </p>
        <p>
            <b>Important!</b> Please disable any pop-up blocking plug-ins or software your browser is running for this experiment!
        </p>

	   <!--  <script type="text/javascript">
	       //console.log(psiTurk.getInstructionIndicator())
	    </script> -->
	</div>

	<hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Play Example Trial <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
