<div id="container-instructions">

    <h1> Test Splash </h1>
	<hr>

   	<div class="instructions well">
        <p>
           From this point on, you still get to pick one of two boxes, but you will not be shown its content anymore.
        </p>
	   <!--  <script type="text/javascript">
	       //console.log(psiTurk.getInstructionIndicator())
	    </script> -->
	</div>

	<hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>

            <div class="col-xs-8">
            </div>
            
            <div class="col-xs-2">
                <button type="button" id="okgotit" value="okgotit" class="btn btn-primary btn-lg okgotit">
                 Ok, got it. <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
