<div id="container-instructions">

    <h1> Ready for the Experiment? </h1>
	<hr>

   	<div class="instructions well">
        <p>
           The experiment will be just like the demonstration you've just finished. However there will be no help text reminding you to respond quickly or of how to do so. If you're ready to proceed to the experiment, please click "To the Experiment" below. If not, you may return to the previous page by clicking "Back to the Demo".
        </p>
	   <!--  <script type="text/javascript">
	       //console.log(psiTurk.getInstructionIndicator())
	    </script> -->
	</div>

	<hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Back to the Demo 
                </button>
            </div>

            <div class="col-xs-8">
            </div>
            
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                To the Experiment <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
