
<div id="container-questionnaire">

    <!-- These will be generated in the corrosponding javascript. -->
    <h1 id="header"> </h1>
    <p  id="prompt"> </p>

    <div class="instructions well">
        <form id="survey" action="debrief" method="post">
            <!--Dynamically generated form content. See surveys.js -->
        </form>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="submit" value="submit" class="btn btn-primary btn-lg continue">
                    Submit and Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>